# ignore system files
*.DS_Store
*_Store
*debug_custom.json
*debug.cfg
*esp32c3.svd
*esp32.svd
*esp32s3.svd
*.gitignore
*s#1
*s#2
*s#3
*s#4
*s#5
.vscode/c_cpp_properties.json
.gitignore
examples/{sketch_path}
.gitignore
examples/SI47XX_02_for_Mirko_Pavleski_radio/MIRKO_V2/MIRKO_V2.ino_atmega328p_16000000L.lst
examples/SI47XX_03_OLED_I2C/SI47XX_02_ALL_IN_ONE_OLED/SI47XX_02_ALL_IN_ONE_OLED.ino_atmega328p_16000000L.lst
examples/SI47XX_04_TFT/SI47XX_01_TFT_ILI9225/SI47XX_01_TFT_ILI9225.ino_atmega328p_16000000L.lst
examples/SI47XX_04_TFT/SI47XX_03_TFT_ATMEGA328_ST7735/SI47XX_03_TFT_ATMEGA328_ST7735.ino_atmega328p_16000000L.lst
examples/SI47XX_09_NOKIA_5110/ALL_IN_ONE_ENCODER_RDS/ALL_IN_ONE_ENCODER_RDS.ino_atmega328p_16000000L.lst
examples/SI47XX_17_ATMEGA128/OLED_ALL_IN_ONE/OLED_ALL_IN_ONE.ino_atmega128_16000000L.lst
examples/SI47XX_17_ATMEGA32/OLED_ALL_IN_ONE/OLED_ALL_IN_ONE.ino_atmega32_16000000L.lst
