<BR>
<P><B>HF Auto Bandpass filter controlled by Arduino (first test)</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/M1PDRzVvAm0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>
<BR>
<P><B>HF auto bandpass filter controlled by Arduino (real test)</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/KuAmm0LjUGA" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR> 