<BR>
<P><B>SI4735 Arduino Library working with ATtiny85</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/U9Xpqh3K4e0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>
<BR>
<P><B>How to "SI4735 Arduino Library and ATtiny85"</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/zb9TZtYVu-s" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>