<BR>
<p><b>The videos below show the Serial Monitor working as a Si473X receiver interface</b></p>
<table>
    <tbody>
        <tr>
            <td>
                <p><b>Si4735 Arduino Library - Arduino Mega 2560 and ESP32 LOLIN32 WEMOS</b></p>
                <iframe width="348" height="197" src="https://www.youtube.com/embed/ArFav_SFEXI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </td>
            <td>
                <p><b>Si4735 Arduino Library and Bluepill STM32F103</b></p>
                <iframe width="348" height="197" src="https://www.youtube.com/embed/v4o5_lKKATc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>
<BR>
    

