<BR>
<P><B>Arduino MEGA 2560 and toutch TFT diaplay setup</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/Zs59ThVumuE" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>
<BR>
<P><B>Arduino Due and toutch TFT diaplay setup</B></P>
<iframe width="867" height="490" src="https://www.youtube.com/embed/oI9TfJ-8Z9Q" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<BR>
