
.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
    font-size:14px;
}

.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

*
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input
{
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}