<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.pu2clr.vfocontrol" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VFO Control</name>
    <description>
        Mobile remote control for the VFO
    </description>
    <author email="pu2clr@gmail.com" href="https://github.com/pu2clr/VFO_BFO_OLED_ARDUINO/tree/master/Experiments/VFO_RADIO_CD2003GP">
        Ricardo Lima Caratti - PUCLR
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
